<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <title>Sample User Model</title>
  </head>
  <body>
    <h1>This is a registration page</h1>
    <h2>Please Fill Out This Form to create an account</h2>
      <form role="form" method="POST">
      Usename<input name="username"></input><br>
      Email<input name="email"></input><br>
      FirstName<input name="firstname"></input><br>
      LastName<input name="lastname"></input><br>
      Password<input name="password"></input><br>
      FavoriteFood<input name="favoritefood"></input><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>